* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #d9dde2;
  color: #212121;
  line-height: 1.5;
}

.container {
  padding: 20px 20px;
}

.main-data {
  display: flex;
  align-items: center;
  padding: 3px 0;
}

.country-list {
  padding-left: 10px;
  font-weight: 500;
}

.country-info {
  padding-left: 20px;
  font-weight: 500;
}
.flag-icon {
  margin-right: 10px;
}

#search-box {
  font: inherit;
  padding: 8px;
  width: 250px;
  margin-bottom: 16px;
  border-radius: 3px;
}

#search-box:hover,
#search-box:focus {
  outline: none;
  border: 2px solid rgb(44, 162, 216);
}
